@model IEnumerable<Model.Appointment>

@{
    ViewData["Title"] = "Appointment List";
}

<h1>Appointment List</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
               Id
            </th>            
            <th>
                @Html.DisplayNameFor(model => model.DoctorFullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PetName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StatusName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdatedDateTime)
            </th>            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>  
            <td>
                @Html.DisplayFor(modelItem => item.DoctorFullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PetName)
            </td>            
            <td>
                @Html.DisplayFor(modelItem => item.StatusName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedDateTime)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |      
               
                <a href="#" class="lnk-delete" data-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
