@model IEnumerable<Model.Appointment>

@{
    ViewData["Title"] = "Appointment List";
}

<h1>Appointment List</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>
               Id
            </th>            
            <th>
                @Html.DisplayNameFor(model => model.DoctorFullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PetName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StatusName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdatedDateTime)
            </th>            
            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
            var statusName = item.StatusName;
            <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>  
            <td>
                @Html.DisplayFor(modelItem => item.DoctorFullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PetName)
            </td>  
            
                <td class="@(statusName == "Cancelled"?"field-validation-error":" ")">

                @Html.DisplayFor(modelItem => item.StatusName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedDateTime)
            </td>
            <td>
                    @Html.ActionLink("Edit", "GetAppointmentById", new { id=item.Id }) |   &nbsp;

                    <a href="#" class="lnk-delete" data-id="@item.Id">Delete</a> &nbsp;|&nbsp;

                    <a href="#" class="lnk-cancel" data-id="@item.Id">Cancel</a> &nbsp;|&nbsp;

                    <a href="#" class="lnk-complete" data-id="@item.Id">Complete</a> 
            </td>
        </tr>
}
    </tbody>
</table>
